{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}prologue/schedule/" role="button">Get Started</a>
      <!--      <p class="meta">Open-source MIT Licensed. <a href="https://github.com/h-enk/doks">GitHub v{{ $data := getJSON "/package.json" }}{{ $data.version }}</a></p>-->
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Learn Network Fundamentals</h2>
        <p>We will start by learing the basics of networking and make our way up to creating real-world applications.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Code</h2>
	<p>You will learn socket programming, fundamentals of protocols that make the Internet work</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Build</h2>
	<p>You will learn to interface with real "things".</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">GTAs:</h2>
	<p> Jacob Latham </p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Instructor Email and Office Hours</h2>
	<p>Prof. Susmit Shannigrahi, sshannigrahi AT tntech.edu <br> Office Hours: TR 9-10AM or by appointment </p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Book</h2>
	<p><a href= "https://book.systemsapproach.org/index.html">Computer Networks: A Systems Approach</a></p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
